<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

  </div>
</nav>

<h1>Yo!</h1>

<% if current_user %>
  <%= image_tag current_user.image_url, class: "user-image" %>
  <%= link_to "Logout", logout_path, method: :delete, id: "logout-btn" %>
<% end %>
