<p class="how-text rounded">
  1. Easily sign in with your Facebook account <br><br>
  2. Click "Create First Entry" from your dashboard <br><br>
  3. Enter the date, the meal, the ingredients, and <br>
     any other details you would like to remember <br><br>
  4. Click "Calculate" to see your macronutrient <br>
     intake for that meal or "Save" to save the <br>
     entry to your journal <br><br>
  5. Visit your dashboard at any time to see a <br>
     running list of all your saved days and meals <br><br>
  6. Visit "Resources" to see guidelines, recipes <br>
     shopping tips and more!!
</p>
