<div class="screenshot1">
  <%= image_tag "screenshot1.png", class: "screenshot", width: "700" %>
</div>
<div class="screenshot2">
  <%= image_tag "screenshot2.png", class: "screenshot", width: "700" %>
</div>
<div class="screenshot3">
  <%= image_tag "screenshot3.png", class: "screenshot", width: "700" %>
</div>
