<div class="screenshots">
  <div class="screenshot">
    <%= image_tag "paleopal-dashboard.jpg", class: "screenshot-img", width: "700" %>
  </div>
  <div class="screenshot">
    <%= image_tag "paleopal-add-new.jpg", class: "screenshot-img", width: "700" %>
  </div>
</div>
