<div class="user-buttons">
  <% if current_user %>
    <%= link_to "Go to my Dashboard!", dashboard_path, class: "btn btn-lg btn-default btn-home dashboard-btn" %>
  <% else %>
    <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-lg btn-default btn-home login-btn" %>
  <% end %>
</div>
