<div class="testimonials">
  <div class="testimonial-header">
    <h2>OUR USERS LOVE US...</h2>
  </div>
  <div class="row">
    <div class="testimonial-one col-md-4">
      <p>"I thought I was eating so much <br>
        differently than I actually was! <br>
        PaleoPal allowed me to see where <br>
        my nutritional deficits were so I <br>
        could get on the path to true health."</p>
    </div>
    <div class="testimonial-two col-md-4">
      <p>"I lost 20 pounds and feel amazing <br>
          on the Paleo diet! I had tried several <br>
          times to start the diet on my own and <br>
          failed. Using PaleoPal really kept me <br>
          on track."</p>
    </div>
    <div class="testimonial-three col-md-4">
      <p>"This app is amazing. It really helped <br>
        me get organized and stay motivated. <br>
        I have definitley built habits I know <br>
        will be with me the rest of my life!"</p>
    </div>
  </div>
</div>
