<%= render partial: "partials/navbar" %>
<div class="container resources">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag "allium.jpg", class: "veggie-pic" %>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      The basic tenants of a Paleo diet are that you want your macronutrient intake to
      be primarily from fat with moderate protein and low carbohydrates. These nutrients
      should come from high quality whole foods.<br>
      The basics are as such: <br>
      <strong><u>YES:</strong></u><br>
      <strong>Fruit</strong> - though try to avoid really sugary fruits like mango, pineapple, bananas, etc.
      and stick with things like berries, apples, plantains, etc.<br>
      <strong>Vegetables</strong> - pretty much all of them, though try to avoid/limit white potatoes and
      other really starchy things (go for sweet potatoes instead). Also no corn,
      as it's a grain. You want tons of leafy greens, onions and garlic, and veggies
      that encompass the full spectrum of colors.<br>
      <strong>Oils</strong> - stick with just olive, coconut, avocado, and animal
      fats/lard (from a good source).<br>
      <strong>Coconut</strong> - every form of it! Coconut will be your best friend,
      especially when you find yourself missing dairy. Coconut oil, butter, milk, cream,
      flakes - you name it. Cook with the oil, put the cream in your coffee, replace
      butter in baked recipes with the oil or butter or cream.<br>
      <strong>Meat</strong> - Wild fish and pastured/grass-fed/wild meats are what you want,
      a good portion at each meal ideally. 60-70 grams of protein per day would be optimal.<br>
      <strong>Eggs</strong> - pasteured, organic<br>
      <strong>Nuts & Seeds</strong> - ideally soaked and dehydrated<br>
      <strong>Fermented foods</strong> - sauerkraut, kimchi, etc.<br><br>
      <strong><u>NO:</strong></u><br>
      <strong>Dairy</strong><br>
      <strong>Grains</strong><br>
      <strong>Legumes (beans)</strong><br>
      <strong>White potatoes</strong><br>
      <strong>Processed foods</strong><br>
      <strong>Vegetable oils (corn, soy, canola, etc.)</strong><br>
      <strong>Sugar (small amounts of honey and maple are fine)</strong><br>
      <strong>Alcohol</strong><br><br>
      <a href="http://www.marksdailyapple.com/definitive-guide-to-the-primal-eating-plan/">The Definitive Guide to the Primal Eating Plan</a><br>
      <a href="http://paleoiq.com/macronutrient-ratios/">Mother Nature's Perfect Macronutrient Ratio</a><br>
      <a href="http://paleoleap.com/paleo-diet-faq/">Paleo FAQ</a><br>
    </div>
  </div>
</div>
