// Container

.container {
  position: relative;
}

// Flashes
.flashes {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 1.6em;

  background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}

// Landing page images

.veggie-pic {
  position: relative;
  max-width: 100%;
  height: auto;
}

.table-pic {
  height: 1150px;
}

.grayscale {
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

// Landing page title

.title-main {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 9em;
  right: 200px;
  top: 130px;
  font-family: 'Dawning of a New Day', cursive;
}

// Landing page tagline
.tagline.rounded {
  position: absolute;
  right: 90px;
  top: 450px;
  font-family: 'Amatic SC', cursive;
  font-size: 2.2em;
  font-weight: bold;
  background-color: rgba(219, 220, 202, .7);
  padding: 20px;
  border-radius: 10px;
}

// Landing page buttons
.login-btn, .dashboard-btn {
  position: absolute;
  right: 300px;
  top: 330px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.7em;
}

.resources-link, {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  padding-top: 20px;
}

// Testimonial section
.testimonials {
  width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.testimonial-header {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 5em;
  padding-bottom: 10px;
}

.testimonial {
  font-family: 'Amatic SC', cursive;
  font-size: 1.9em;
  font-weight: 575;
}

// Landing page lower section
.how-header {
  position: absolute;
  bottom: 1075px;
  left: 160px;
  font-family: 'Dawning of a New Day', cursive;
  color: white;
  font-weight: 575;
  font-size: 8em;
}

.how-text.rounded {
  position: absolute;
  bottom: 300px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  font-weight: 600;
  background-color: rgba(219, 220, 202, .7);
  padding: 20px;
  border-radius: 10px;
}

  .screenshot1 {
    position: absolute;
    bottom: 760px;
    right: 0px;
    background-color: rgba(219, 220, 202, .7);
    border-radius: 10px;
    border-style: solid;
  }

  .screenshot2 {
    position: absolute;
    bottom: 450px;
    right: 0px;
    background-color: rgba(219, 220, 202, .7);
    border-radius: 10px;
    border-style: solid;
  }

  .screenshot3 {
    position: absolute;
    bottom: 270px;
    right: 0px;
    background-color: rgba(219, 220, 202, .7);
    border-radius: 10px;
    border-style: solid;
  }

// User dashboard
body.user-dashboard {
  padding-top: 70px;
  margin-bottom: 50px;
}

.user-image-nav {
  padding-left: 30px;
  // border-radius: 10px;
}

.navbar-btn {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.7em;
}

.entry-btn {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 3em;
  margin-top: 70px;
}

.entries-table {
  margin-top: 50px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}

// New Entry
body.new-entry {
  padding-top: 70px;
}

.entry-form {
  margin-top: 50px;
  border-style: groove;
  padding: 50px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
  margin-bottom: 50px;
}

.dropdown-text {
  font-size: .5em;
}

#ingr-instructions {
font-family: 'Quicksand', sans-serif;
font-size: 13pt;
}

.form-text {
  font-size: .8em;
}

.add-entry-btn {
  margin-top: 30px;
  font-size: 1.2em;
}

// Entry page buttons
#form-submit, #calc-values {
  font-size: .9em;
  font-weight: bold;
}

// Meal show page and edit page
.meal-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4em;
  text-decoration: underline;
}

.meal-ingr {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.7em;
}

.meal-nutrients, .notes-block {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
  border-style: ridge;
}

.nutrient-block, .meal-notes {
  padding: 20px;
}

.meal-notes {
  font-family: 'Reenie Beanie', cursive;
}

.meal-data, .notes {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
}

body.meal-show {
  padding-top: 90px;
}

.edit-btn, .delete-btn {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
  margin: 10px;
}

.edit-header {
  margin-top: 60px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
  font-weight: bold;
}
